nav > ul > li {
    list-style: none;
}

.homepage{
    background-image: linear-gradient(
180deg
,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h4{
    color: #fff;
    font-weight:600;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { grid-area: 1 / 2 / 6 / 5; }

.glasscard{ 
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
    border-radius: 10px;
    margin: 1em;
    min-height: 5em;
    position :relative;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 2em;
}

.todoheader{ 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.4 );
}

.todobody{ 
    margin-top: 2em;
    padding: 2em;
}

.todofooter{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.todofooter-icons{
    position:relative;
    right: 0;
}
.addtodobtn{
    margin-left: 2em;
}